body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.name{
    color: chocolate;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}   
.top{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeats;
}
.middel{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeats;
}
section{
    margin-bottom:20px;
    height: 500px;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-image: linear-gradient(rgb(240, 123, 77), rgb(55, 0, 255));
    color: white;
    font-weight: 500;

}

